@charset "UTF-8";

/* CSS Document */

/* Reset browser default styles: */
html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, pre, code, address, variable, form, fieldset, blockquote {
  padding: 0;
  margin: 0;
  font-size: 100%;
  font-weight: normal;
  list-style: none;
}

/* border-box so that border widths aren't added to the total width of the element: */
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* Clearfix to make floated elements behave correctly: */
  .cf:before, .cf:after { content: ""; display: table; }
  .cf:after { clear: both; }
  .cf { zoom: 1; }
  .clear { clear: both; }
  
a:focus,
a:active {
	outline: none;
}

/* In order for the percentage heights to work we need this: */
html, body { height:100%; }




/* ======================================================
   General Rules 
   ====================================================== */
/*   
Font weight values for Source Sans Pro Family: -
Light 300, Regular 400, Medium 500, Semi Bold 600, Bold 700, Extra Bold 800, Black 900
*/

Body {
	font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", "serif";
	background-color: hsla(39,28%,62%,1.00);
	background-image: url(../images/background.png);
	background-position: 7% 35px;
	background-attachment: fixed;
}
.layout {
	width: 90%;
	margin: 30px auto 30px auto;
	position: relative;
}

/* All images scale proportionally 
to the size of the container element 
(usually a div): */
img {
	width: 100%;
	height: auto;
	margin-top: 10px
}

h2 {
	font-weight: 800;
	color:black;
	font-size: 115px;
	margin: 0px 3% 10px 0px;
	line-height: 100px;
	text-transform: uppercase;
	text-align: right;
}
h2:hover{ color:white;}


.portfolio-section h2 { margin: 
	200px 3% 10px 0px;
}
h3 {
	font-weight: 800;
	text-transform: uppercase;
    margin: 0px 0px 20px 0px;
  
}
p {
	margin-bottom: 20px;
}
a {
	color: black;
	text-decoration: none;
}
a:hover{color:white}

/* ======================================================
   Navigation 
   ====================================================== */
nav {
	position: fixed;
	top: 0px;
	left: 5%;
}
nav h1 {
	font-weight: 900 !important;
	font-size: 250px;
	margin: 0px 0px 0px -10px;
	line-height: 250px;;
}
ul {
	margin: 0px 0px 0px 0px;
}
li {
	font-weight: 800;
	margin: 10px 0px 5px 0px;
	text-transform: uppercase;
}
.name {
	display: block;
	color:white;
	font-weight: 800;
	text-transform: uppercase;
	margin-bottom: 32px;
}



/* ======================================================
   Grid Content 
   ====================================================== */
   
.content-home {
	background-color: hsla(0,0%,100%,0.00);
	margin: 0px 0px 0px 0px;
	width: 75%;
	float: right;
	padding: 10px 0px 0px 0px;
}

.content {
	background-color: hsla(171,6%,78%,0.30);
	margin: 0px 0px 70px 0px;
	width: 75%;
	float: right;
	padding: 10px 0px 0px 0px;
}

.project-section {
	margin: 50px 0px 70px 0px;
}
.grid {
	width: 96%;
	margin: 30px auto 0px auto;
	padding: 0px 0px 0px 0px;
}
.grid-box {
	background-color: hsla(0,0%,0%,0.00);
	width: 29.333%;
	min-height: 50px;
	margin: 0px 2% 3% 2%;
	padding: 0px 0px 0px 0%;
	float: left;
	line-height: 0px;
}
.unit-sizer {
	width: 29.333%;
}
.gutter-sizer {
    width: 4%;
}
.project-info {
	margin: 0px 10% 0px 4%;
}
.title {
	display: block;
	margin: 15px 0px 3px 0px;
}

.about-img-box {
	width: 20%;
	float: right;
	margin-top: 6%;
	margin-left: 5%;
	margin-right:3%;
}
.about-txt-box {
	width: 50%;
	font-size: 21px;
	float: right;
	margin-top: 7%;
	text-align: left;
}
.contact-txt-box {
	width: 80%;
	font-size: 24px;
	margin-top: 200%;
	margin-left: 3%;
	
}
.contact-txt-box p {
	font-weight: 600;
}

.contact-info-box {
	width: 80%;
	font-size:21px;
	margin-left: 3%;
}
.contact-info-box p {
	font-weight: 100;
}

/* ======================================================
   Home 
   ====================================================== */
.grey {
	color: hsla(184,100%,8%,1.00);
	
}


/*LIGHTBOX BACKGROUND:*/
.fancybox-bg {
  background: #000000 !important;
  opacity: 0;
  transition-duration: inherit;
  transition-property: opacity;
  transition-timing-function: cubic-bezier(0.47, 0, 0.74, 0.71); 
}

.fancybox-is-open .fancybox-bg {
  opacity: 0.90;
  transition-timing-function: cubic-bezier(0.22, 0.61, 0.36, 1); 
}



/* ==========================================================================
   Media Queries 
   ========================================================================== */


@media all and (max-width: 768px) {

nav {
	position: fixed;
	top: 0px;
	left: 5%;
	width: 90%;
	background-color: hsla(183,100%,9%,0.90);
	padding: 5px 2% 20px 2%;
	font-size: 14px;
}
nav h1 {
	font-weight: 900 !important;
	font-size: 85px;
	margin: 10px 0px 0px 0px;
	line-height: 50px;
	float: left;
}
	
	h1 a {
		color: hsla(0,0%,99%,0.70);
	}
ul {
	margin: 39px 0px 0px 0px;
	float: right
}
li {
	font-weight: 800;
	margin: 0px 0px 5px 20px;
	display: inline-block;
}
li a {
		color: hsla(0,0%,99%,0.70);
	}
.name {
	display: block;
	font-weight: 800;
	margin: 39px 0px 0px 20px;
	float: left;
}
.content {
	margin: 90px 0px 0px 0px;
	width: 100%;
	float: none;
	padding: 10px 0px 0px 0px;
}
	
.content-home {
	margin: 90px 0px 0px 0px;
	width: 100%;
	float: none;
}
.content-home h2 {
	font-size: 100px;
	line-height: 80px;
}

}


@media all and (max-width: 500px) {

li {
	margin: 0px 0px 5px 10px;
}
.name {
	margin: 39px 0px 0px 10px;
}
.content-home h2 {
	font-size: 60px;
	line-height: 50px;
}

}


